{% extends 'core.html' %}

{% block title %} - sign up {% endblock %}

{% block content %}
   <div class="flex-sign-up">
    <div class="sign-up">
        <div class="signUp-title">
            <h1>Instagram</h1>
            <p>Sign up to see photos and videos from your friends.</p>
        </div>

        <div>
            <style>
                h5{
                    color: #f00;
                }
            </style>
            {% for message in messages %}
                <h5>{{message}}</h5>
            {% endfor %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="signup-input">
                <input type="email" placeholder="Email" name="email" required>
            </div>
            <div class="signup-input">
                <input type="text" placeholder="First name" name="first_name" required>
            </div>
            <div class="signup-input">
                <input type="text" placeholder="Last name" name="last_name" required>
            </div>
            <div class="signup-input">
                <input type="text" placeholder="Username" name="username" required>
            </div>
            <div class="signup-input">
                <input type="password" placeholder="Password" name="password1" required>
            </div>
            <div class="signup-input">
                <input type="password" placeholder="Confirm Password" name="password2" required>
            </div>
            <div class="signup-button">
                <button>Sign up</button>
            </div>
        </form>
    </div>
    <div class="old-sign">
        <p>Already have an account? <a href="{% url 'sign-in' %}">Sign In</a></p>
    </div>
   </div>
{% endblock %}